.header {
    /* height: 70px; */
}

.header__content {
    display: flex; 
    position: relative;
    flex-direction: column;
    align-items: center; 
}

.header__logo {
    height: 74.01px px;
    width: 65px;
    margin-top: 5px;
    margin-bottom: 5px;

    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__logo img {
    height: 70px;
    width: auto; 
    /* height: 100%;
    width: auto; */
}

.header__navigation {
    height: 100%; 
    width: 100%;
    border-top: 1px solid rgba(133, 134, 133, 1) ;
    border-bottom: 1px solid rgba(133, 134, 133, 1) ;
}

.navigation__list {
    display: flex;
    position: relative;
    padding-inline-start: 0;
    justify-content: center;   
}

.navigation__list li {
    list-style: none;
    margin-right: 50px;
    color: rgba(29, 31, 29, 1);
    font-family: Arsenal;
    font-size: 22px;
    font-weight: 400;
    line-height: 12.6px;
    letter-spacing: 0.07038461416959763px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.navigation__list li:last-child {
    margin-right: 0;
}
