.about {
    margin-top: 20px;
    padding-top: 70px;
    padding-bottom: 70px;
    padding-left: 70px;
    padding-right: 70px;
    background: rgba(178, 223, 219, 0.1);
    border-radius: 20px;
}

.about__desctiprion {
    display: flex;
    justify-content: space-between;
    height: 350px;
    gap: 35px;
}

.about__image {
    width: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-image: url("../images/122.png");
    background-repeat: no-repeat;
    background-size: scale;
}

.about__text {
    width: 50%; 
    color: rgba(29, 31, 29, 1);  
    margin: 0;
    font-family: Cera Pro;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.about__text1 {
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.1em;
    margin-top: 20px;
}

.about__text2{
    margin-top: 20px;
    font-size: 70px;
    font-weight: 900;
    line-height: 70px;
}

.about__text2_green {
    color: rgb(80, 146, 158);
}

.about__text3{
    margin-top: 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

