

.contacts__desctiprion {
    display: flex;
    justify-content: space-between;
    height: 350px;
    gap: 35px;

}

.book__image {
    width: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-image: url("../images/images.jfif");
    background-repeat: no-repeat;
    background-size: 100%;
    /* width: 100%; */
    height: auto;
}

.contacts__image img {  
    height: 100%;
    width: auto;
}

.contacts__text {
    width: 50%;

    font-family: Montserrat;
    font-size: 20px;
    font-weight: 400;
    line-height: 21.6px;
    letter-spacing: 0.10000000149011612px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none; 
    color: rgba(248, 248, 248, 1);
    margin: auto 0;
}


.contacts {
    /* height: 700px; */
    /* border: 1px solid red; */

    /* height: 700px; */
    padding-top: 135px;
    padding-bottom:  135px;
    color: 1px solid rgba(133, 134, 133, 1) ;
    background: rgba(49, 76, 81, 1);
}



.contacts__text1 {
    list-style: none;
    font-family: Arsenal;
    font-size: 26px;
    font-weight: 400;
    line-height: 12.6px;
    letter-spacing: 0.07038461416959763px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    /* color: black; */

}

.contacts__phone {
    display: flex;
    /* height: 50px; */
    align-items: center;
    margin-top: 30px;
}

.contacts__phone-nunber {
    margin: 0;
}

.contacts__phone-icons {
    width: 20px;
    height: 20px;
    border: 1px solid wheat;
    margin-right: 30px;
}

.contacts__social {
    margin-top: 30px;
    display: flex;
}