/* .services {
} */

.posts__title {
    font-family: Cera Pro;
    font-size: 30px;
    font-weight: 700;
    line-height: 16px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(61, 61, 61, 1);
    text-align: center;
}

.posts__content {
    margin-top: 70px;
}

.posts__list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-inline-start: 0px;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    gap: 20px;
    justify-content: space-between;
    margin-top: 70px;
}

.posts__list-item {
    margin: 0;
    opacity: 0px;
    height: 300px;
    background: rgba(178, 223, 219, 0.1);
    display: flex;
    border-radius: 20px;  
}

.posts__list-item1 {
    width: 40%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border-radius: 20px;
    margin-right: 10px;
    margin-left: 10px;
}

.posts__list-item1-img1 {
    background-image: url("../images/b201eab9fefe6113d9611c389562e6ce.jfif");
} 

.posts__list-item1-img2 {
    background-image: url("../images/images.jfif");
} 

.posts__list-item1-img3 {
    background-image: url("../images/3fd79ad5096a23be7d071106cf7e8947.jfif");
} 


.posts__list-item2 {
    width: 50%;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    font-family: Cera Pro;
    text-align: right;
}

.posts__item-txt {
    list-style: none;
    font-family: Arsenal;
    font-size: 26px;
    font-weight: 400;
    line-height: 12.6px;
    letter-spacing: 0.07038461416959763px;
} 

.posts__list-item2-tiile {
    font-size: 18px;
    font-weight: 900;
    line-height: 24px;
    text-align: right;
    margin-top: 20px;
    margin-right: 20px;
}

.posts__list-item2-despription {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 10px;
    margin-right: 20px;  
}

.posts__button_green {
    width: 200px;
    height: 40px;
    background-color:  rgba(49, 76, 81, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    margin: 20px auto;
} 

.posts__button_text{
    font-size: 14px;
    font-weight: 500;
    line-height: 20px; 
    color:  rgba(255, 255, 255, 1);
    text-decoration: none;
}
