/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


.page {
  /* background-color: rgb(225 243 229); */
  background-color: rgba(178, 223, 219, 1);
  

}

.page__content {
  font-family: 'Inter', Arial, sans-serif;
  /* margin: 0 auto; */
  color: black;
  /* min-width: 320px;
  max-width: 1280px; */
  min-height: 100vh;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  display: block;
  /* border: 1px solid green; */
}

.page__container {
  min-width: 320px;
  max-width: 1280px;
  display: block;
  margin: 0 auto;
}

@font-face {
  font-family: "Arsenal"; 
  src: url("./fonts/Arsenal/Arsenal-Regular.ttf"); 
  font-style: normal; 
  font-weight: normal; 
} 

@font-face {
  font-family: "Montserrat"; 
  src: url("./fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf"); 
  font-style: normal; 
  font-weight: normal; 
} 
